.group_category_blog{
	border-bottom: 1px solid #CECECE;
	.list_category_blog{
		white-space: nowrap;
		padding: 0 8.617924em;
		div{
			display: inline-block;
		    font-size: 14px;
		    position: relative;
		    letter-spacing: 1px;
		    color:#77777A;
		    padding: 15px 20px;
		    &:after{
		    	content: '';
		    	position: absolute;
		    	left: 0;
		    	right: 0;
		    	bottom: 0;
		    	height: 1px;
		    	background: transparent;
		    }
		    &:hover{
		    	a{
		    		color:#000 !important;
		    	}
		    	&:after{
			    	content: '';
			    	position: absolute;
			    	left: 0;
			    	right: 0;
			    	bottom: -1px;
			    	height: 1px;
			    	background: #000;
			    }
		    }
		}
	}
}
.background-post{
	background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
        border: 1px solid #cecece;
}
.box-group{
  	padding-bottom: 50px;
}
.box {
	width: 70%;
	margin-bottom: 30px;
}
.box-group-item{

}
.box-container{
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
}
.box-group-item{
	position: relative;
    counter-reset: box;
    column-count: 3;
    column-gap: 30px;
    margin: 0 auto;
    .box-container{
    	position: relative;
    	break-inside: avoid;
    	.background-post{
    		width: 100% !important;
    		margin-bottom: 0px;
    		border:none;
    		height: 275px;
    	}
    	.box-detail{
    		width: 100% !important;
    		border-color: #F2F2F2 !important;
    	}
    }
}
.banner-single{
	background-size: cover;
    height: 650px;
    display: flex;
    align-items: center;
    background-position: center center;
    &:after{
    	content:'';
    	position: absolute;
    	background: rgba(0, 0, 0, 0.10);
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	z-index: 1;
    }
}
.content-box-images{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
	h2{
		font-size: 68px;
		@include font-bold;
		color:#fff;
		letter-spacing: 2px;
	}
	h6{
		font-size: 30px;
		@include font-base;
		color:#fff;
		width: 45%;
	    line-height: 1.2;
	    letter-spacing: 1px;
	    margin: 0 auto;
	}
}