@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wg6nf8');
  src:  url('../fonts/icomoon.eot?wg6nf8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wg6nf8') format('truetype'),
    url('../fonts/icomoon.woff?wg6nf8') format('woff'),
    url('../fonts/icomoon.svg?wg6nf8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-Heart-tum:before {
  content: "\e912";
}
.icons-prepare:before {
  content: "\e900";
}
.icons-shipped:before {
  content: "\e901";
}
.icons-facebook:before {
  content: "\e902";
}
.icons-googleplus:before {
  content: "\e903";
}
.icons-history:before {
  content: "\e904";
}
.icons-picture:before {
  content: "\e905";
}
.icons-thb:before {
  content: "\e906";
}
.icons-wallet:before {
  content: "\e907";
}
.icons-benefits:before {
  content: "\e908";
}
.icons-eye:before {
  content: "\e909";
}
.icons-point:before {
  content: "\e90a";
}
.icons-receipt:before {
  content: "\e90b";
}
.icons-credit:before {
  content: "\e90c";
}
.icons-edit:before {
  content: "\e90d";
}
.icons-lock:before {
  content: "\e90e";
}
.icons-note:before {
  content: "\e92d";
}
.icons-payment:before {
  content: "\e92e";
}
.icons-redfinish:before {
  content: "\e943";
  color: #800008;
}
.icons-Complete:before {
  content: "\e944";
}
.icons-Pressorder:before {
  content: "\e945";
}
.icons-discount:before {
  content: "\e946";
}
.icons-star:before {
  content: "\e947";
}
.icons-arrow-rang:before {
  content: "\e948";
}
.icons-info-n:before {
  content: "\e949";
}
.icons-howtoclaim:before {
  content: "\e94a";
}
.icons-howtoorder:before {
  content: "\e94b";
}
.icons-howtopay:before {
  content: "\e94c";
}
.icons-fb:before {
  content: "\e94d";
}
.icons-ig:before {
  content: "\e94e";
}
.icons-yt:before {
  content: "\e94f";
}
.icons-account:before {
  content: "\e950";
}
.icons-cart:before {
  content: "\e951";
}
.icons-EN:before {
  content: "\e952";
}
.icons-house:before {
  content: "\e953";
}
.icons-search:before {
  content: "\e954";
}
.icons-TH:before {
  content: "\e955";
}
.icons-flower-01:before {
  content: "\e956";
}
.icons-herb-01:before {
  content: "\e957";
}
.icons-wood-01:before {
  content: "\e958";
}
.icons-fruit-01:before {
  content: "\e959";
}
.icons-etc-01:before {
  content: "\e95a";
}
.icons-essential:before {
  content: "\e95b";
}
.icons-candle:before {
  content: "\e95c";
}
.icons-stick:before {
  content: "\e95d";
}
.icons-sachet:before {
  content: "\e95e";
}
.icons-potpourri:before {
  content: "\e95f";
}
.icons-diffuser:before {
  content: "\e960";
}
.icons-roomspray:before {
  content: "\e961";
}
.icons-down:before {
  content: "\e962";
}
.icons-next:before {
  content: "\e963";
}
.icons-next2:before {
  content: "\e964";
}
.icons-room:before {
  content: "\e90f";
}
.icons-close:before {
  content: "\e910";
}
.icons-pet:before {
  content: "\e913";
}
.icons-tem:before {
  content: "\e915";
}
.icons-unknown:before {
  content: "\e965";
}
.icons-Cart:before {
  content: "\e914";
}
.icons-Gift:before {
  content: "\e966";
}
.icons-Question:before {
  content: "\e967";
}
.icons-address:before {
  content: "\e917";
}
.icons-error:before {
  content: "\e918";
}
.icons-history2:before {
  content: "\e919";
}
.icons-logout:before {
  content: "\e968";
}
.icons-order:before {
  content: "\e91b";
}
.icons-wallet2:before {
  content: "\e91c";
}
.icons-wishlist:before {
  content: "\e969";
}
.icons-quill:before {
  content: "\e911";
}
