.product_title.entry-title{
    font-size: 30px;
    color:#000000;
    line-height: 1;
    letter-spacing: 1px;
    @include font-title;
    & ~ .price{
        display: none;
    }
}
.tagged_as{
    a{
    border: 1px solid #000;
    color: #000;
    padding: 2px 10px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
    letter-spacing: 1px;
    margin-right: 15px;
    }
}
.product_cat-aromatic-accessories{
    .product_title.entry-title{
        font-size: 30px;
        color:#000000;
        line-height: 1;
        letter-spacing: 1px;
        @include font-title;
        & ~ .price{
            display: block;
        }
    }
    .product_meta {
       display: block;
    }
}
.product_title.entry-title{
    text-align: left !important;
}
.single-product .product_title.entry-title, .woocommerce-tabs .panel h2{
    font-size: 30px !important;
    color:#000000;
    line-height: 1;
    letter-spacing: 1px;
    @include font-title;
}
// .variations_form.cart{
//  display: none;
// }
.woocommerce-variation-add-to-cart.variations_button{
    display: none;
}
.product_meta{
    display: none;
}
.single-product .col-full{
    max-width: 100%;
}
.single-product div.product {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    position: unset;
}
.storefront-breadcrumb{
    display: none;
}
.woocommerce-tabs.wc-tabs-wrapper{
    // position: absolute;
    .tabs.wc-tabs{
        display: none;
    }
}
.storefront-full-width-content .woocommerce-tabs .panel {
    width: 56.5217391304%;
    float: right;
    margin-right: 0;
    margin-bottom: 0.706325903em;
    z-index: -1;
}
.flex-viewport{
    height: 100% !important;
}
.storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
    width: 39.1304347826%;
    float: left;
    margin-right: 4.347826087%;
    margin-bottom: 3.706325903em;
    background: rgba(183, 183, 183, 0.27);
    // position: fixed;
    // display: flex;
    align-items: center;
    height: 100vh;
    -webkit-backface-visibility: hidden;
    left: 0;
    justify-content: center;
}
.woocommerce-product-gallery__wrapper{
    width: 100%;
    height: 100%;
    & > div{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
        }
    }
}
.description-single{
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: auto !important;
}
.woocommerce-Tabs-panel>h2:first-child{
    display:none;
}
.overlay-edit-scents{
    position: relative;
    position: relative;
    width: 320px;
    border: 1px solid #000;
    display: none;
    &:hover .backgroud-edit{
            opacity: 1;
            @include animation-delay(0.5) ;
            cursor: pointer;
    }
    .backgroud-edit{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        letter-spacing: 1px;
        font-weight: 700;
        text-align: center;
        padding-top: 25px;
        color: #fff;
        background: rgba(0, 0, 0, 0.62);
        z-index: 1;
        @include animation-delay(0.5) ;
    }
}
.img-scents{
    display: inline-block;
    vertical-align: middle;
    img{
        width: 70px;
    }
}
.detail-scents-select{
    display: inline-block;
    padding-left: 20px;
    position: relative;
    top: 10px;
}
.woocommerce-variation.single_variation{
    display: none !important;
}
.variations_form{
    padding-top: 0px !important;
}
.single-product div.product .variations_button {
    padding-top: 5px;
}
.quantity .qty{
    @include font-base;
}
.woocommerce-variation-add-to-cart .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: inherit;
    width: 1px;
    word-wrap: normal!important;
}
@media (min-width: 768px){
.storefront-full-width-content.single-product div.product .summary {
    width: 56.5217391304%;
    float: right;
    margin-right: 9%;
    margin-bottom: 3.706325903em;
    margin-left: 45%;
}
}
.affix-top{
    position: fixed !important;
}
.affix{
    position: fixed !important;
}
.affix-bottom { 
    position: absolute !important; 
}
.related.products{
    padding: 60px 0;
}
.single-product div.product .woocommerce-product-gallery .zoomImg{
    background: none;
}

.overlay-select-scents.active{
    opacity:1;
    right: 0px;
    z-index: 1;
    pointer-events: auto;
    @include animation-delay(1.0);
}
.blur{
    filter:blur(2px);
    @include animation-delay(1.0);
}
.header-detail-name{
    display: none;
}
.overlay-select-scents{
    height: 100%;
    right: -100%;
    position: fixed;
    width: 100%;
     filter:blur(0px);
    opacity:0;
    overflow: scroll;
    z-index: -1;
    pointer-events: none;
    top: 0;
    @include animation-delay(0.5);
    background: #fff;
    width: 50.521739%;
    padding: 45px 1px;
    /* margin-left: -63px; */
    /* border-left: 1px solid #efefef; */
    box-shadow: 1px;
    -webkit-box-shadow: -8px 0px 5px 0px rgba(230,230,230,1);
    -moz-box-shadow: -8px 0px 5px 0px rgba(230,230,230,1);
    box-shadow: -21px 0px 22px 0px hsla(0, 0%, 46%, 0.3);
    form{
        height: 100vh;
        overflow-y: scroll;
    }
}
.tawcvs-swatches {
    overflow: hidden;
    padding: 30px 0px 22px 35px;
}
.tawcvs-swatches .swatch {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    display: block;
    width: 230px;
    height: 315px;
    padding: 0 7.5px;
    margin-bottom: 15px;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-right: 0;
    cursor: pointer;
    position: relative;
    opacity: 1;
    img{
        margin-bottom: 7px;
    }
}
.single-product div.product table.variations td.label{
    display: none;
}
.group-box-scents{
    width: 100%;
    text-align: left;
    padding: 0 15px;
    height: 85px;

        font-size: 20px;
}
.name-scents{
    @include font-bold;
    color:#000;
    width: 100%;
}
.description-scents{
    display: block;
    margin-top: -3px;
    line-height: 1;
    font-size: 12px;
}
.tawcvs-swatches .swatch.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    opacity: 1;
    .group-scents{
        -webkit-box-shadow: 2px 0px 11px 0px #c7c7c7;
        -moz-box-shadow: 2px 0px 11px 0px #c7c7c7;
        box-shadow: 2px 0px 11px 0px #c7c7c7;
    }
}
.woocommerce-variation-description{
    display: none;
}
.images-products{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.woocommerce-product-gallery__image:nth-child(1) {
    .images-products{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin-top: -90px;
    }
}
.flex-direction-nav{
    display: none;
}
.flex-control-nav{
    display: none;
}
.view_cat{
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size:24px;
}
@media (min-width: 768px){
.col-full {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
}
}
.type-product .woocommerce-product-details__short-description, .woocommerce-Tabs-panel p{
    font-size: 22px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 15px;
}
.added_to_cart, .button, button, input[type=button], input[type=reset], input[type=submit] {
        border: 0;
    background: 0 0;
    background-color: #43454b;
    border-color: #43454b;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    text-shadow: none;
    display: inline-block;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
}
#payment .payment_methods>.wc_payment_method>label, #payment .payment_methods>.woocommerce-PaymentMethod>label {
    display: block;
    padding: 1.41575em;
    cursor: pointer;
    font-size: 22px;
}
.single_add_to_cart_button{
    letter-spacing: 2px;
}
.storefront-full-width-content.single-product div.product .woocommerce-tabs{
    width: 100%;
}
.height-detail{
    height: 100vh;
    display: table;
    vertical-align: middle;
}
.midden{
    display: table-cell;
    vertical-align: middle;
}

.woocommerce-cart .site-content .col-full{
    max-width: 66.4989378333em !important;
}
.products.columns-3{
    margin: 0 auto !important;
    width: 60.66% !important;
}
.products.columns-3.columns-4{
    width: 82.66% !important;
    margin: 0 auto 1.41575em auto !important;
}
.related>h2:first-child, .upsells>h2:first-child {
    font-size: 30px !important;
    color: #000000;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'dtlalbertinastmediumregular', 'db_fongnam_xbold' !important;
}
.entry-title{
    text-align: center !important;
}
table th{
    background-color: #000 !important;
    color: #fff !important;
}
table tfoot th{
    background-color: #fff !important;
    color: #000 !important;
}
table td, table th {
    padding: 1em 1.41575em;
    text-align: left;
    vertical-align: middle !important;
}
table tbody tr:nth-child(2n) td, fieldset, fieldset legend {
    background-color: #f9f9f9 !important;
}
.woocommerce-mini-cart-item.mini_cart_item a.remove::before{
    color: #fff !important;
}
a.remove::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: -.125em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "\f2ed" !important;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #0b0b0b;
    line-height: 1.618;
    text-indent: 0;
    text-align: center;
}
@media (max-width: 768px) {
    .page-template-template-fullwidth-php .site-main ul.products.columns-6 li.product, .page-template-template-homepage-php .site-main ul.products.columns-6 li.product, .storefront-full-width-content .site-main ul.products.columns-6 li.product {
        width: 49%;
        float: left;
        margin-right: 0.4%;
    }
    .term-description p {
        text-align: justify;
        display: inline-block;
        text-indent: 30px;
        color: #454545;
        letter-spacing: 0.5px;
    }
    .tax-product_cat.term-asmosphere .products {
        margin-bottom: 60px;
        margin-left: 0;
        margin-right: 0;
    }
    .products.columns-3 {
        margin: 0;
        width: 100% !important;
    }
    .storefront-full-width-content .site-main ul.products.columns-3 li.product.product-category {
        width: 50%;
        float: left;
        margin-right: 0;
        padding: 20px 10px 0;
        border: none;
    }
    footer {
        padding: 0px !important;
        border-top: 0px solid #cccccc;
        background-color: #000;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .site {
            padding-bottom: 44px;
    }

    ul.products li.product.product-category .woocommerce-loop-category__title, ul.products li.product.product-category h2, ul.products li.product.product-category h3 {
        font-size: 0.8em;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 1px;
        color: #000000;
        height: 30px;
        overflow: hidden;
    }
    footer .bottom-ber-footer ul li a span {
        font-size: 0;
        letter-spacing: 1px;
        vertical-align: text-top;
        text-transform: uppercase;
    }
    footer .bottom-ber-footer {
        height: 52px;
    }
    footer .col-sm-2 {
        text-align: center;
        width: 25%;
    }
    footer .footer-main {
        padding: 20px 20px 20px;
        border-bottom: 1px solid #7F1416;
    }
    footer .bottom-ber-footer ul li .lang-menu {
        font-size: 11px;
        letter-spacing: 1px;
        font-size: 0;
    }
    footer .menu-copyright {
        padding: 15px 20px;
        display: table;
        width: 100%;
        text-align: center;
    }
    footer .menu-copyright .pull-left ul li a {
        letter-spacing: 1px;
        font-size: 16px;
    }
    footer .menu-copyright .pull-left ul li {
        list-style: none;
        display: table-cell;
        vertical-align: middle;
        padding-right: 15px;
    }
    footer .menu-copyright .pull-left ul li:last-child{
        padding-right: 0px;
    }
    footer .menu-copyright {
        padding: 15px 20px;
        display: table;
        width: 100%;
    }
    footer .bottom-ber-footer ul li a i.icons-down {
        padding-right: 0px;
        font-size: 8px;
        position: relative;
        top: -4px;
        left: -10px;
    }
    footer .footer-main ul li {
        list-style: none;
        float: left;
        width: 33%;
    }
    footer .footer-main ul li.pull-right {
        float: right;
        width: 100%;
    }
    footer .footer-main>ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer .footer-main ul li.col-sm-2:first-child {
        padding-left: 0px;
        width: 50%;
        order: 2;
    }
    footer .footer-main ul li.col-sm-2:nth-child(2) {
        width: 50%;
        order: 3;
    }
    footer .footer-main ul li.col-sm-2:nth-child(3) {
        width: 100%;
        order: 1;
    }
    .sp-header-span-2.sp-header-last{
        display: none;
    }
    header.site-header .logo-group-left {
        position: fixed;
        left: 20px;
    }
    button.menu-toggle {
        cursor: pointer;
        text-align: left;
        float: right;
        position: relative;
        border: 2px solid transparent;
        box-shadow: none;
        border-radius: 2px;
        background-image: none;
        padding: .6180469716em 0em .6180469716em 2.617924em;
        font-size: .875em;
        border: none;
        span{
            font-size: 0px;
            &:before{
                font-size: 14px;
            }
        }
    }
    .single-product div.product {
        position: relative;
        overflow: hidden;
        height: auto; 
        display: flex;
        align-items: center;
        position: unset;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -0.41575em;
        margin-right: -0.41575em;
    }
    .affix-top, .affix, .affix-bottom {
        position: relative !important;
    }
    .summary.entry-summary{
        margin-left: 15px;
        margin-right: 15px;
    }
    .overlay-select-scents.active {
        opacity: 1;
        right: 0px;
        z-index: 99;
        width: 100%;
        pointer-events: auto;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
        width: 100%;
        float: left;
        margin-right: 0;
        margin-bottom: 1.706325903em;
        background: rgba(183, 183, 183, 0.27);
        align-items: center;
        height: 55vh;
        -webkit-backface-visibility: hidden;
        left: 0;
        justify-content: center;
    }
    .woocommerce-product-gallery__image:nth-child(1) .images-products {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin-top: -33px;
    }
    .tawcvs-swatches {
        overflow: hidden;
            padding: 10px 5px;
    }
    .group-box-scents {
        width: 100%;
        text-align: left;
        padding: 0;
        height: 99px;
        line-height: 1.2;
        padding: 6px 10px;
        position: absolute;
        top: 0;
        padding-left: 120px;
    }
    .tawcvs-swatches .swatch img {
        margin-bottom: 7px;
        width: 99px;
    }
    .description-scents {
        display: block;
        margin-top: 0px;
        line-height: 1;
        font-size: 12px;
    }
    .description-scents + span{
            font-size: 20px;
    }
    .name-scents {
        color: #000;
        font-size: 16px;
        width: 100%;
    }
    ul.products li.product .woocommerce-LoopProduct-link h2{
        font-size:16px;
    }
    .storefront-full-width-content .woocommerce-tabs .panel {
        padding: 0 15px;
    }
    .storefront-full-width-content .woocommerce-tabs .panel {
        width: 100%;
        float: right;
        margin-right: 0;
        margin-bottom: 3.706325903em;
        z-index: -1;
    }
    .page-template-template-fullwidth-php .site-main ul.products.columns-4 li.product, .page-template-template-homepage-php .site-main ul.products.columns-4 li.product, .storefront-full-width-content .site-main ul.products.columns-4 li.product {
        width: 49%;
        float: left;
        margin-right: 0.4%;
        margin-bottom: 1.5%;
        padding: 0px;
    }
    .products.columns-3.columns-4 {
    width: 100% !important;
}
    ul.products li.product .woocommerce-LoopProduct-link .price {
        padding-left: 0;
        font-size: 14px;
        text-align:center
    }
    ul.products li.product {
        list-style: none;
        margin-left: 0;
        margin-bottom: 0.235801em;
        text-align: center;
        position: relative;
    }
    .tawcvs-swatches .swatch {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        border-radius: 0%;
        display: block;
        width: 100%;
        height: 100px;
        border: 1px solid #000;
        padding: 0 0px;
        margin-bottom: 7.5px;
        float: left;
        line-height: 30px;
        text-align: center;
        margin-right: 0;
        cursor: pointer;
        position: relative;
        opacity: 1;
    }
    .onsale {
        position: absolute;
        top: 0;
        width: 130px;
        border-radius: 0px;
        background: #800008;
        font-size: 10px;
        letter-spacing: 1px;
        @include font-base;
        border: none;
        color: #fff;
        padding: 5px 15px;
        top: 15px;
    }
    .storefront-handheld-footer-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 44px;
        right: 0;
        border-top: 1px solid rgba(255,255,255,.2);
        box-shadow: 0 0 6px rgba(0,0,0,.7);
        z-index: 9999;
    }
    .storefront-handheld-footer-bar ul li.search .site-search {
        position: absolute;
        bottom: -2em;
        left: 0;
        right: 0;
        -webkit-transition: all,ease,.2s;
        transition: all,ease,.2s;
        padding: 0;
        z-index: 1;
        display: block;
    }
    .storefront-handheld-footer-bar ul li > a::before {
        font-size: 16px;
    }
    .storefront-handheld-footer-bar .my-account{
        display: none !important;
    }
    .storefront-handheld-footer-bar ul.columns-3 li{
        width:50%;
    }
// #post-903{
//     background: none !important;
// }
.box-container .box-detail{
    background: none !important;
}
.page-template-PageWithoutSidebar .group_category_blog .list_category_blog {
    padding: 0 0.617924em !important;
}
.overlay-edit-scents {
    position: relative;
    position: relative;
    width: 100%;
    border: 1px solid #000;
    display: none;
}
.page-id-903 .col-full, .single-post .col-full, .page-id-958 .col-full, .archive .col-full{
    margin: 0px !important;
}
}
a:focus {
    outline: none !important;
}
.woocommerce-loop-product__title{
        height: 45px;
        overflow: hidden;
    }
@media (max-width: 568px){
    .col-full {
        margin-left: 0.41575em;
        margin-right: 0.41575em;
        padding: 0;
    }
}
#order_review table.total tr:nth-child(1) th{
    border-top: 1px solid #000;
}
#order_review .total th{
  width: 25%;
}
#order_review table.total tbody tr:nth-child(2n) td,  #order_review table.total tr:nth-child(2n) th {
    background-color: #f9f9f9 !important;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
#order_review table.total th {
    background-color: #fff !important;
    color: #000 !important;
    border-right: 1px solid #000;
}
#order_review  table.total tr:nth-child(1) td {
    border-top: 1px solid #000;
}
.single-product div.product form.cart .quantity{
        margin-bottom: 1.875em;
}
@media(max-width: 767px){
   .height-detail {
        height: auto;
        display: table;
        vertical-align: middle;
        margin-bottom: 30px;
    } 
    .related.products {
    padding-top:0px;
}
.related.products {
    overflow: hidden;
    margin: 0 -0.41575em;
}
.h2-fix{
    font-size: 40px;
}
.related > h2:first-child, .upsells > h2:first-child {
    margin: 0 15px;
}
}
