.comingsoon-main{
	position: relative;
    margin: 0;
    padding-bottom: 274px;
    min-height: 100%;
    height: 110%;
    padding-bottom: 0px;
    .bow{
    	position: fixed;
    	top: 0;
    	right: 0;
    	left: 0;
    	bottom: 0;
    	width:100%;
    }
    .coming-soon{
    	height: 100%;
	    background-size: cover;
	    position: absolute;
	    top: 0;
	    background-repeat: no-repeat;
	    background-position: center;
	    bottom: 0;
	    left: 0;
	    right: 0;  
    }

.hover_color {
	color: #A8A7A8;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;	
}

.hover_color:hover {
	color: #910000;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;	
}

.hover_color2:focus{
	color: none;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1, .h1 {
	font-size: 65px;
	font-weight: 700;
	position: relative;
		
}

h2, .h2 {
	font-size: 22px;
		
}

h3, .h3 {
	font-size: 12px;
	font-weight: 700;
	color: #DCDEDF;
	margin-bottom: 10px
		
}

h4, .h4 {
	font-size: 14px;
}

.font700 {
	font-weight: 700;
}

.normal_text {
	font-size: 18px;
	color: #999799;
	font-family: 'cordia_newbold';
	margin-bottom: 15px;
	line-height: 1.2;
}

.normal_text_20 {
	font-size: 20px;
	color: #999799;
	font-family: 'cordia_newbold';
	margin-bottom: 15px;
	line-height: 1.2;
}

label {
	font-family: 'cordia_newregular';
	font-size: 18px;
	color: #A9A8A9;
	font-weight: normal;
	margin-bottom: 0;
}

label.error {
	color: #800008;
	display: none;
	font-size: 18px;
}

input, textarea{
	font-family: 'cordia_newregular';
	font-size: 18px;
	border-radius: 0;
	color: #A9A8A9;
}

textarea:focus, input:focus{
    outline: 0;
}

.clear { 
	clear: both;
 	display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

::-webkit-input-placeholder {
   color: #999799;
}

:-moz-placeholder { /* Firefox 18- */
   color: #999799;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #999799;  
}

:-ms-input-placeholder {  
   color: #999799;  
}

/*.row{
	margin: 0;
}*/

.hover_btn{
	display: block;
	border: 0;
	position: relative;
	text-align:  center;
	font-size: 21px;
	text-align: center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #AC232B;
	color: #fff;
	padding: 8px;
	margin: auto;
	width: 100%;
	max-width: 309px;
	margin-top: 30px;
}

.hover_btn:hover{
	background: #AC232B;
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.default_btn {
	border: 1px solid #C8B98F;
	border-radius: 5px;
	background: transparent;
	height: 30px;
	padding: 0 50px;
	text-align: center;
	display: inline-block;
	font-family: 'cordia_newbold';
	font-size: 18px;
	line-height: 23px;
	color: #999799;	
}

#logo .default_btn{
    margin-top: 15px;
}

.default_btn:hover {
	border: 1px solid #C8B98F;
	border-radius: 5px;
	background: transparent;
	height: 30px;
	padding: 0 50px;
	text-align: center;
	display: inline-block;
	font-family: 'cordia_newbold';
	font-size: 18px;
	line-height: 23px;
	color: #999799;	
}

.full_width_btn {
	width: 100%;
	margin-top: 20px;
}

#cover{
	background: #000;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999;
	top: 0;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.hidden_br {
	display: none;
}

.gold_font {
	color: #a89245;
}

.tablet_br {
	display: block;
	height: 1px;
}

.mobile_br {
	display: none;
	height: 1px;
}

.small_desktop_br {

}

.responsive_img {
	width: 100%;
	display: block;
}

/********** general *******/

.top_bar {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
}

.top_bar_container {
	padding: 9px 0;
	position: relative;
}

.top_bar_nav {
	width: 100%;
	margin-bottom: 0;
}

.top_bar_nav li{
	float: left;
	display: inline-block;
	margin-right: 6.5%;
	font-weight: 700;
	letter-spacing: 2px;
}

.top_bar_nav li:last-child{
	margin-right: 0;
}

.top_bar_nav li a{
	color: #262626;
	    font-size: 10px;
    font-family: 'Noto Serif', serif;
}

a.active{
	color: #910000 !important;
}

.top_hover {
	color: #8A8A8D !important;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
	cursor: pointer;	
}

.top_hover:hover {
	color: #910000 !important;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;	
}

#diner_hover:hover {
	color: #800008 !important;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;	
}

#everyday_hover:hover {
	color: #2B6C93 !important;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;	
}

.main_slide_container {
	position: fixed;
	z-index: 880;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}

.main_slide {
	width: 100%;
	height: 100%;
}

.main_slide > div{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

#logo {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	width: 500px;
	min-height: 300px;
}

.subtitle_cover {
	position: relative;
	top: 5%;
	left: 5%;

	width: 60%;
	height: 300px;
}

#logo img{
	width: 100%; 
	margin-left: 21%;
	display: block;
	max-width: 500px;
	/*width: 300px;*/
}

#playbtn {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	width: 89px;
	height: 89px;
}

#playbtn img{
	width: 100%;
	display: block;
}

#pager {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 40px;
	z-index: 700;
}

#pager span {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0 8px;
	background: #262626;
	cursor: pointer;
	text-indent: -9999px;
	border: 1px solid transparent;
	border-radius: 50%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

#pager span.cycle-pager-active {
	background: transparent;
	border: 1px solid #800008;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

#scroll_down_btn {
	position: fixed;
	z-index: 760;
	width: 100%;
	height: 30px;
	bottom:0;
	left: 0;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+0,1+99 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

#scroll_down_btn:hover {
	height: 60px;
}

#scroll_down_btn img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}

.overlayFromMenu {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 890;
	left: 0;
	top:0;	
	background-size: cover;
	background-position: center;
	display: none;
}

.overlayFromMenu img{
	position: absolute;
	width: 30%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}

.country_lang_container {
	position: absolute;
	right: 0;
	top: 5px;
}

.object {
	display: inline-block;
	margin-left: 10px;
	height: 37px;
	line-height: 28px;
	font-size: 14px;
	color: #8A8A8D;
	position: relative;
}

.options {
	position: absolute;
	background: #262626;
	width: 190px;
	top: 30px;
	right: -9px;
	display: none;
}

.options:before {
	content: "";
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid #262626;
	top: -5px;
	right: 12px;
}

.options h3{
	border-bottom: 1px solid #000;
	position: relative;
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	font-size: 9px;
	color: #fff;
	padding: 8px 0;
	letter-spacing: 1px;
	padding-left: 25px;
}

.options h3:before{
	content: "";
	width: 3px;
	height: 3px;
	background: #C8B98F;
	position: absolute;
	left: 10px;
	top: 11px;
}

.options a{
	display: block;
	padding: 0 6px;
	height: 26px;
	line-height: 22px;
	color: #A9A8A9;
	letter-spacing: 2px;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
	font-family: 'cordia_newregular';	
}

.options a img{
	vertical-align: sub;
}

.options a:hover{
	color: #C8B98F;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;	
}

.options a span{
	color: #C8B98F;
	font-family: 'cordia_newbold';
}

header {
	background: #111;
	position: fixed;
	z-index: 800;
	padding-top: 41px;
	height: 100px;
	border-bottom: 1px solid #800008;
	width: 100%;
	.group-logo {
	    text-align: center;
	    position: relative;
	    height: 48px;
	    border-bottom: none;
	    .img-logo {
		    display: inline-block;
		    max-width: 186px;
		}
	}
}

.logo_large {
	width: 186px;
	margin: 0 auto 17px;
}

.logo_large img{
	width: 100%;
	display: block;
}

.main_nav {
	border-top: 2px solid #4C0000;
	text-align: center;
	padding: 2px 0 10px;
}

.main_nav a{
	color: #A8A7A8;
	font-size: 15px;
	font-family: 'cordia_newbold';
	letter-spacing: 2px;
	display: inline-block;
	margin: 0 50px;
}

.main_nav a:first-child{
	margin-left: 0;
}

.main_nav a:last-child{
	margin-right: 0;
}

.disable_link {
	color: #262626 !important;
}

footer {
	background: #000;
	width: 100%;
	position: fixed;
	z-index: 800;
	bottom: -77px;
	left: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

footer.move_up {
	bottom: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

.footer_nav_container {
	background: #111;
}

.footer_nav {
	text-align: center;
	width: 90%;
	height: 34px;
	max-width: 955px;
	margin: auto;
	position: relative;
}

#more_btn{
	font-size: 14px;
	color: #A9A8A9;
	font-family: 'cordia_newregular';
	display: inline-block;
	position: relative;
	margin-left: 270px;
	position: absolute;
	right: 0;
	letter-spacing: 2px;
	top: 5px;
}

.icon{
	display: inline-block;
	cursor: pointer;
	margin: 0 15px;
	font-size: 14px;
	color: #A9A8A9;
	font-family: 'cordia_newregular';
	letter-spacing: 2px;
	position: relative;
	padding: 5px 0 7px;
}

.icon div{
	display: inline-block;
	vertical-align: middle;
}

.icon div img{
	width: 100%;
}

.icon span {
	display: inline-block;
}

#cat_btn {
	width: 200px;
	text-align: right;
}

#cat_btn div{
	background: url(../images/icon1.svg);
	width: 11px;
	height: 10px;
	background-size: 100% 200%;
	background-position: 0 0;
	margin-left: 10px;
}

#col_grid_btn div{
	background: url(../images/icon2.svg);
	width: 11px;
	height: 10px;
	background-size: 100% 200%;
	background-position: 0 0;
}

#col_full_btn div{
	background: url(../images/icon3.svg);
	width: 11px;
	height: 11px;
	background-size: 100% 200%;
	background-position: 0 0;
}

#search_btn div{
	background: url(../images/icon4.svg);
	width: 11px;
	height: 11px;
	background-size: 100% 200%;
	background-position: 0 0;
}

#random_btn {
	width: 200px;
	text-align: left;
}

#random_btn div{
	background: url(../images/icon5.svg);
	width: 14px;
	height: 11px;
	background-size: 100% 200%;
	background-position: 0 0;
	margin-right: 10px;
}

.icon:hover div{
	background-position: 0 -100% !important;
}

.icon:hover span{
	color: #C8B98F;
}

.col_active div{
	background-position: 0 -100% !important;
}

.cat_options, .cat_options2 {
	position: absolute;
	border-bottom: solid 1px #262626;
	background: #111111;
	width: 200px;
	bottom: 32px;
	right: -17px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	display: none;
}

.cat_options2 {
	width: 300px;
}

.cat_options:before {

}

#random {
	right: auto;
	left: -17px;
}

.cat_options li, .cat_options2 li{
	width: 100%;
}

.lang-japan .cat_options li a{
	font-size: 13px !important;
}

.cat_options li a{
	display: block;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: right;
	position: relative;
	color: #A9A8A9;
	padding: 5px 40px 7px 0;
	right: auto;
	margin-left: 0;
	font-family: 'cordia_newbold';
}

.cat_options2 li a{
	display: block;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	color: #A9A8A9;
	right: auto;
	padding: 5px 0 5px 0;
	font-family: 'cordia_newbold';
}

.cat_options li a:hover, .cat_options2 li a:hover{
	background: #262626;
	color: #C8B98F;
}

.cat_options li a:after{
	content: "";
	width: 3px;
	height: 3px;
	background: #A9A8A9;
	position: absolute;
	right: 15px;
	top: 15px;
}

.cat_options li a:hover:after{
	background: #C8B98F;
}

#random li a {
	text-align: left;
	padding: 5px 0 7px 40px;
}

#random li a:after{
	content: "";
	width: 3px;
	height: 3px;
	background: #A9A8A9;
	position: absolute;
	left: 15px;
	top: 15px;
}


a.cat_active{
	color: #C8B98F !important;
}

a.cat_active:after{
	background: #C8B98F !important;
}

.footer_nav2 {
	width: 90%;
	max-width: 955px;
	margin: auto;
	text-align: center;
}

.footer_nav2 li{
	display: inline-block;
	padding: 6px 0 10px;
	margin: 0 45px;	
}

.footer_nav2 li:first-child{
	margin-left: 0;
}

.footer_nav2 li:last-child{
	margin-right: 0;
}

.footer_nav2 li a{
	font-size: 15px;
	font-family: 'cordia_newbold';
	letter-spacing: 2px;
}

.copyright_container{
	width: 90%;
	max-width: 955px;
	margin: auto;
	font-size: 14px;
	color: #68686C;
	font-family: 'cordia_newregular';
	letter-spacing: 2px;
	padding: 6px 0 10px;
}

.social {
	display: inline-block;
	float: left;
}

.social a{
	color: #68686C;
	font-size: 17px;
	margin-right: 15px;
}

#copyright {
	float: right;
	display: inline-block;
}

#main_content {
	padding: 150px 15px 130px;
}

#transparent_content {
	width: 100%;
	height: 100%;
}

.social_container {
	position: fixed;
	padding: 10px 18px 0 30px;
	border-right: 1px solid #800d09;
	height: 100%;
	z-index: 860;
	background: #111111;
	top: 0;
	left: -462px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

.social_container.opened {
	left: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 910;	
}

.social_container h3{
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.social_btn {
	cursor: pointer;
	width: 33px;
	height: 123px;
	background: url(../images/social_section_btn.png);
	background-position: 0 0;
	right: -33px;
	top: 28px;
	position: absolute;
}

.social_container.opened  .social_btn {
	background-position: 0 -123px;
}

.social_wrapper {
	height: 100%;

}

.social_list {
	width: 400px;
	padding: 15px 0;
}

.social_list:after {
	content: '';
  	display: block;
  	clear: both;
}

.social_list li{
	border-right: #262626 1px solid;
	border-bottom: #262626 1px solid ;
	margin-bottom: 15px;
}

.social_list li img{
	width: 100%;
	display: block;
}

.grid-sizer { width: 48%; }
.gutter-sizer { width: 4%; }

.social_item {
	width: 48%;
}

.social_full {
	width: 100%;
}

.social_text {
	padding: 10px;
	color: #000;
}

.social_text p{
	color: #A9A8A9;
	font-size: 12px;
	font-family: 'helvetica';
}

.social_list_head {
	background: #000;
	border-bottom: 1px solid #262626;
	padding: 5px 10px;
}

.social_icon {
	display: inline-block;
	float: left;
}

.social_icon a{
	font-size: 17px;
	margin-right: 10px;
}

.social_date {
	font-size: 16px;
	float: right;
	color: #A9A8A9;
	font-family: 'cordia_newregular';
	letter-spacing: 1px;
}

.music_container {
	position: fixed;
	padding: 10px 30px 0;
	border-left: 1px solid #800d09;
	height: 100%;
	z-index: 860;
	background: #111111;
	top: 0;
	right: -461px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;	
}

.music_container.opened {
	right: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 910;	
}

.music_container h3{
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.music_btn {
	cursor: pointer;
	width: 33px;
	height: 123px;
	background: url(../images/music_section_btn.png);
	background-position: 0 0;
	left: -33px;
	top: 28px;
	position: absolute;
}

.music_container.opened  .music_btn {
	background-position: 0 -123px;
}

.track_list {
	width: 400px;
	height: 90%;
}

.track_list li{
	padding: 15px 0;
}

.track_list li:first-child{
	padding-top: 0;
}

.track_list li iframe{
	width: 100%;
}

.overlay_black {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.85);
	z-index: 905;
	top: 0;
	left: 0;
	display: none;
}

.pri_term {
	position: fixed;
	z-index: 910;
	width: 90%;
	height: 100%;
	max-width: 630px;
	top: 0;
	left: 50%;
	padding: 60px 0;
	text-align: center;
	color: #DCDEDF;
	display: none;	
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
}

#policy {
	text-align: left;
}

.scroll_control {
	position: relative;
	height: 90%;
}

.pri_term h2{
	font-size: 12px;
	font-weight: 700;
	width: 265px;
	padding: 15px 0;
	border: 1px solid #555;
	border-radius: 5px;
	margin: 0 auto 25px;
	text-align: center;
}

.pri_term h3{
	font-family: 'cordia_newbold';
	font-size: 18px;
	margin-bottom: 20px;
}

.pri_term h4{
	font-family: 'cordia_newbold';
	font-size: 18px;
}

.pri_term p{
	font-family: 'cordia_newregular';
	font-size: 18px;
	margin-bottom: 20px;
	color: #999799;
}

.close_btn {
	position: fixed;
	top: 40px;
	right: -220px;
}

.fullpage {
	width: 100%;
	height: 100%;
}

.fullpage.blured {
	-webkit-filter: blur(3px);
  	filter: blur(3px);
}

.newsletter_container {
	position: fixed;
	z-index: 910;
	width: 90%;
	max-width: 545px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	display: none;
}

.newsletter_container .close_btn {
    position: absolute;
    top: -40px;
    right: -50px;
}

.newsletter_container h2{
	font-size: 15px;
	font-weight: 700;
	width: 265px;
	padding: 11px 0;
	border: 1px solid #979797;
	border-radius: 5px;
	margin: 0 auto 25px;
	text-align: center;
}

.red_font {
	color: #800008;
}

#newsletter_form {
	color: #A9A8A9;
	font-family: 'cordia_newregular';
	font-size: 14px;
	letter-spacing: 1px;
}

.input_box {
	width:100%;
	height: 25px;
	border-radius: 5px;
	background: rgba(0,0,0,0.0);
	border: 1px solid #55565A;
	padding: 0 5px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.input_disabled {
	background: #262626;
}

.select_box {
	width:100%;
	height: 25px;
	border-radius: 5px;
	background: transparent url(../images/select_arrow.png) 99% center no-repeat;
	border: 1px solid #55565A;
	padding: 0 5px;
	font-size: 18px;
	font-family: 'cordia_newregular';
	-webkit-appearance: none;
	color: #A9A8A9;
}

.newsletter_full {
	margin-bottom: 7px;
}

.newsletter_left {
	margin-bottom: 7px;
	width: 47%;
	float: left;
}

.newsletter_right {
	margin-bottom: 7px;
	width: 47%;
	float: right;
}

.agree {
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

.submit_btn {
	border: 1px solid #C8B98F;
	border-radius: 5px;
	background: rgba(0,0,0,0.0);
	height: 30px;
	width: 210px;
	margin: auto;
	display: block;
	margin-top: 20px;
}

.thankyou_message {
	position: fixed;
	z-index: 910;
	width: 100%;
	/*max-width: 545px;*/
	text-align: center;
	top: 40vh;
	/*top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);*/
		display: none;
}

.thankyou_message h2{
	font-weight: 700;
	font-size: 15px;
	color: #DCDEDF;
}

.thankyou_message p{
	color: #A9A8A9;
	font-size: 20px;
	font-family: 'cordia_newregular';
	margin: 5px 0 20px;
}

#search_container {
	position: fixed;
	z-index: 805;
	width: 100%;
	bottom: 0;
	left:0;
	display: none;
}

#search_top {
	background: #111111;
	height: 45px;
	padding: 10px 0;
}

#tag_list {
	text-align: center;
}

#tag_list span{
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	border: 1px solid #55565A;
	font-family: 'cordia_newregular';
	font-size: 14px;
	color: #A9A8A9;
	letter-spacing: 0.05px;
	height: 25px;
	line-height: 20px;
	padding: 0 15px;
	border-radius: 5px;
	text-transform: uppercase;
}

#search_bottom {
	padding: 7px 0;
	background: #000;
}

#search_box_container {
	width: 90%;
	max-width: 940px;
	border-radius: 5px;
	border: 1px solid #55565A;
	border-top: 0;
	border-bottom: 0;
	margin: auto;
	position: relative;
}

#search_box {
	border: 0;
	background: #000;
	height: 30px;
	padding: 0 10px;
	font-family: 'cordia_newregular';
	font-size: 14px;
	color: #A9A8A9;
	letter-spacing: 2px;
}

#do_search_btn {
	display: block;
	background: url(../images/magnify.png);
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	top: 50%;
	margin-top: -6px;
	right: 5px;
	position: absolute;
	border: 0;
	padding:0;
}

#hide_search_btn {
	position: absolute;
	right: -30px;
	top: 7px; 
}

#tags {
	width: 100%;
	position: absolute;
	z-index: 5;
	top:0;
	left: 0;
	height: 30px;
	padding: 3px 10px 0;
}

#tags > div{
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	border: 1px solid #55565A;
	font-family: 'cordia_newregular';
	font-size: 14px;
	color: #A9A8A9;
	letter-spacing: 0.05px;
	height: 25px;
	line-height: 20px;
	padding: 0 35px 0 10px;
	border-radius: 5px;
	text-transform: uppercase;
	position: relative;
	background: #000;
}

.remove_tag_btn {
	position: absolute;
	right:0;
	top:0;
	border-left: 1px solid #55565A;
	width: 20px;
	text-align: center;
	height: 100%;
	line-height: 19px;
}

/*********** product *******/

.category_description {
	width: 90%;
	max-width: 570px;
	margin: 0 auto 30px;
	text-align: center;
	color: #DCDEDF;
	font-family: 'cordia_newregular';
}

.product-grid-sizer {
	width: 24%;
}

.product-gutter-sizer {
	width: 1.3%;
}

.item{
	width: 24%;
}

.product_item {
	position: relative;
	margin-bottom: 15px;
	display: block
}

.product_list.grid {

}

.product_list.grid .item{
	width: 15.8%;
}

.product_list.grid .product-grid-sizer {
	width: 15.8%;
}

.product_list.grid .product-gutter-sizer {
	width: 1%;
}

.product_item img{
	width: 100%;
	display: block;
}

.product_hover {
	background: rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}

.product_item:hover .product_hover {
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.number {
	display: none;
}

#product_detail_container {
	position: fixed;
	/*top: 30px;*/
	left: 50%;
	height: 100%;
	z-index: 910;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		display: none;
}

#product_detail {
	position: relative;
	height: 100%;
}

.scroll_woohoo {
	height: 100%;
}

.product_slide_container {
	width: 100%;
	position: relative;
	background: #000;
}

.product_slide {
	width: 100%;
}

.product_slide > div{
	width: 100%;
	position: relative;
	height: 100%;
}

.product_slide img{
	width: 100%;
	height: auto;
	display: block;
}

.product_slide_left {
	position: fixed;
}

/*.product_slide div .video-container iframe,
.product_slide div .video-container object,
.product_slide div .video-container embed,{
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
} 
*/
.prev_btn {
	position: absolute;
	z-index: 500;
	left: 5px;
	top: 50%;
	opacity: .25;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.prev_btn:hover {
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.next_btn {
	position: absolute;
	z-index: 500;
	right: 5px;
	top: 50%;
	opacity: .25;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.next_btn:hover {
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.close_product_btn {
	position: absolute;
	top: 10px;
	right: 40px;
	z-index: 500;
}

.product_detail_top {
	background: #000;
	border: 2px solid #262626;
	border-left: 0;
	border-top: 0;
	padding: 25px 20px;
}

.product_relate {
	background: #000;
	margin-top: 15px;
	border: 2px solid #262626;
	border-left: 0;
	border-top: 0;
	padding: 25px 20px;
}

.product_detail_top h2{
	font-size: 400;
	font-size: 16px;
	margin-bottom: 10px;
}

.product_detail_top h3{
	font-size: 18px;
	color: #C8B98F;
	letter-spacing: 2px;
	font-family: 'cordia_newregular';
	margin-bottom: 15px;
}

.product_relate h3{
	font-size: 18px;
	color: #C8B98F;
	letter-spacing: 2px;
	font-family: 'cordia_newregular';
	margin-bottom: 15px;
}

.shop_now {
	font-size: 22px;
	color: #C8B98F;
	letter-spacing: 4px;
	line-height: 18px;
	width: 100%;
}

.shop_now:hover {
	font-size: 22px;
	color: #C8B98F;
	letter-spacing: 4px;
	line-height: 18px;
	width: 100%;
}

.product_tags_list {
	margin-top: 35px;
}

.product_tags_list a{
	border: 1px solid #55565A;
	border-radius: 5px;
	display: inline-block;
	margin-right: 8px;
	font-family: 'cordia_newregular';
	font-size: 14px;
	color: #A9A8A9;
	letter-spacing: 0.05px;
	padding: 0 10px;
	height: 25px;
}

.share_container {
	border-top: 1px solid #262626;
	padding-top: 15px;
	margin-top: 15px;
}

.share_container span{
	font-family: 'cordia_newregular';
	font-size: 14px;
	color: #A9A8A9;
	letter-spacing: 1.86px;
}

.share_container a {
	font-size: 17px;
	margin-left: 40px;
    vertical-align: middle;
}

.relate_list {
	width: 100%;
}

.relate_list li{
	width: 33%;
	float: left;
	margin-right: 0.5%;
	margin-bottom: 2px;
}

.relate_list li:nth-child(3n){
	margin-right: 0;
}

.relate_list li img{
	width: 100%;
	display: block;
}

.mobile_header_top {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
	padding: 15px 0;
	display: none;
}

.logo_small {
	width: 136px;
	margin: auto;
}

.logo_small img{
	width: 100%;
	display: block;
}

.mobile_btn {
	position: absolute;
	width: 24px;
	top: 15px;
	left: 15px;
	cursor: pointer;
}

.mobile_btn div{
	height: 2px;
	border-radius: 2px;
	background: #A9A8A9;
	margin-bottom: 5px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.mobile_btn div:last-child{
	margin-bottom: 0;

}

.mobile_lang_btn {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 17px;
	text-align: center;
	
	font-size: 15px;
	color: #C8B98F;
	line-height: 0.7;
	cursor: pointer;
}

.mobile_lang_container {
	position: absolute;
	width: 100%;
	top: 58px;
	background: #262626;
	padding: 20px 15px 30px;
	display: none;
}

.mobile_lang_container:before {
	content: "";
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid #262626;
	top: -5px;
	right: 19px;
}


.mobile_lang_container h3{
	font-size: 9px;
	color: #DCDEDF;
	letter-spacing: 0.89px;	
	position: relative;
	padding-left: 30px;
	margin-bottom: 0;
}

.mobile_lang_head {
	border-bottom: 1px solid #000;
	padding-bottom: 8px;
	padding-left: 50px;
}

.mobile_lang_container h3:before{
    content: "";
    width: 3px;
    height: 3px;
    background: #C8B98F;
    position: absolute;
    left: 10px;
    top: 3px;
}

.mobile_lang_container a{
	display: inline-block;
	padding-left: 50px;
	margin-top: 15px;
	font-family: 'cordia_newregular';
	font-size: 14px;
	color: #A9A8A9;
	letter-spacing: 2.33px;
}

.mobile_lang_container a img{
	margin-right: 10px;
}

.mobile_lang_container a span{
	color: #C8B98F;
	font-family: 'cordia_newbold';
	margin-right: 10px;
}

.site_menu_container {
	position: fixed;
	background: #000;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	padding-top: 15px;
	display: none;
}

.close_site_menu_btn {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.site_menu {
	border-top: 1px solid #262626;
	text-align: center;
	margin-top: 15px;
	margin-left: 0;
	padding-left: 0;
}

.site_menu li{
	padding-top: 30px;
	display: none;
	list-style: none;
}

.site_menu li a{
	font-size: 21px;
	letter-spacing: 1.4px;
	color: #262626;
}

.close__everyday_btn {
	display: none;
}

.mobile_top_hover {
	color: #8A8A8D !important;
}

.mobile_header_bottom {
	position: fixed;
	top: 58px;
	left: 0;
	width: 100%;
	background: #111111;
	
	text-align: center;
	border-top: #4C0000 1px solid;
	z-index: 899;
	padding: 5px 0 15px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	display: none;
}

.mobile_header_bottom.home_mobile_header {
	top: -43px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.mobile_social_btn {
	position: absolute;
	left: 15px;
	top: 12px;
}

.normal_nav_btn {
	font-family: 'cordia_newbold';
	font-size: 16px;
	color: #910000;
	letter-spacing: 2px;
	position: relative;
}

.normal_nav_btn:hover {
	color: #910000;
}

.normal_nav_btn:focus {
	color: #910000;
}

.normal_nav_btn:after {
	content: "";
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #910000;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
}

.mobile_normal_nav_container {
	position: fixed;
	background: #111111;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 898;
	width: 100%;
	height: 100%;
	padding-top: 102px;
	display: none;
}

.mobile_normal_nav {
	background: #111;
	width: 100%;
	border-top: 1px solid #262626;
}

.mobile_normal_nav li{
	text-align: center;
	margin-top: 25px;
}

.mobile_normal_nav li a{
	font-family: 'cordia_newbold';
	font-size: 20px;
	letter-spacing: 2.85px;
}

.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: baseline;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;

}

.caret-left {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 2px;
  vertical-align: baseline;
  border-right: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;

}

#nav_b {
	right: -100%;
	left: auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#nav_b.move_in {
	right: 0;
}

/*********** about *********/

.ornament {
	margin: 40px auto;
	width: 200px;
}

.ornament img{
	width: 100%;
	display: block;
}

.text {
	font-size: 20px;
	color: #999799;
	font-family: 'cordia_newregular';
	width: 100%;
	max-width: 575px;
	margin: auto;
	text-align: center;
}

#about_bg{
	background-image: url(../images/about_bg.jpg);
}

.footer_page_name {
	color: #C8B98F;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: 'cordia_newbold';
	padding: 7px 0 10px;
	margin-bottom: 0;
}

/********* contact *******/

.contact_text {
	width: 90%;
	margin: auto;
}

#contact_bg{
	background: #000 url(../images/contact_bg.jpg) no-repeat fixed center;
	background-size: cover;
}

#contact_form {
	font-size: 14px;
	letter-spacing: 1px;
}

#contact_form h2 {
	font-weight: 700;
	font-size: 12px;
	color: #DCDEDF;
	padding-bottom: 8px;
	border-bottom: 2px solid #000;
}

#contact_form h3 {
	padding-bottom: 8px;
	border-bottom: 2px solid #000;
}

.contact_about_list {
	padding-top: 10px;
	margin-bottom: 25px;
}

.contact_about_list li input{
	float: left;
	margin-top: 4px;
}

.contact_about_list li div{
	margin-left: 25px;
}

.contact_about_list li div h4{
	font-family: 'cordia_newregular';
	font-size: 20px;
	color: #999799;
}

.message_box {
	width:100%;
	border-radius: 5px;
	background: rgba(0,0,0,0.0);
	border: 1px solid #55565A;
	padding: 10px 5px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.iframe-rwd {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 100px;
	height: 0;
	overflow: hidden;
}

.iframe-rwd iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contact_map {
	width: 100%;
	height: 260px;
	overflow: hidden;
	margin-bottom: 15px;
	margin-top: 60px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background: transparent !important;
  cursor: text !important;
  font-size: 18px;

}

.btn-primary {
	border: 1px solid #55565A;
    border-radius: 5px !important;
    background: rgba(0,0,0,0.0);
    height: 30px;
    width: 100%;
    margin: auto;
    display: block;
    font-size: 18px;
    font-family: 'cordia_newbold';
    color: #999799;
    line-height: 10px;
}

.btn-primary:hover {
	background: rgba(0,0,0,0.0);
	border: 1px solid #55565A;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.input-group-btn {
	padding: 0;
	vertical-align: top;
}

.file_name {
	border: 0;
	color: #999799;
	position: relative;
	color: #999799 !important;
 
  text-align: right;
  width: 100%;
}

.input-group{
	display: block;
}

.contact_about_select {
	display: none;
}

.select_box2 {
	width:100%;
	height: 45px;
	background: #111111 url(../images/select_arrow2.png) 20px center no-repeat;
	border: 1px solid #000000;
	padding: 0 5px;
	padding-left: 50px;
	font-size: 20px;
	font-family: 'cordia_newregular';
	-webkit-appearance: none;
	color: #C8B98F;
	margin-top: 5px;
	margin-bottom: 20px;
}

.close_social_btn {
	position: absolute;
	top: 15px;
	right: 15px;
	display: none;
}

/********* store *******/

#large_map {
	padding-top: 136px;
	height: 468px;
	overflow: hidden;
	box-sizing: content-box;
}

#store_list_container {
	padding-bottom: 130px;
}

#store_list_container h2{
	font-weight: 700;
    font-size: 12px;
    color: #DCDEDF;
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
    margin-top: 30px;
    margin-bottom: 15px;
}

.store_list > div {
	border: 1px solid #000;
	border-top: 4px solid #000;
	width: 24.2%;
	float: left;
	margin-right: 1.066%;
	margin-bottom: 14px;
}

.store_list > div:nth-child(4n) {
	margin-right: 0;
}

.store_list a{
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: transparent;
	position: relative;
}

.store_list a:hover{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #000;
}

.store_list a img{
	width: 100%;
	display: block;
}

.store_detail {
	padding: 20px 15px;
	min-height: 240px;
	position: relative;
}

.store_address {
	/* position: absolute; */
	top: 60px;
	padding: 0 15px;
	width: 100%;
	left: 0;
	margin-bottom: 0;
}

.store_time {
	/* position: absolute; */
	top: 133px;
	padding: 0 15px;
	width: 100%;
	left: 0;
	margin-bottom: 0;
}

.store_phone {
	/* position: absolute; */
	bottom: 20px;
	padding: 0 15px;
	width: 100%;
	left: 0;
	margin-bottom: 0;
}

.store_number {
	width: 30px;
	height: 35px;
	text-align: center;
	line-height: 26px;
	color: #A9A8A9;
	background: #000;
	font-size: 20px;
	font-family: 'cordia_newbold';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

.stores_options {
	font-size: 14px;
	width: 330px;
	right: 0;
}

.country_options {
	font-size: 14px;
	left: 0 !important;
	right: auto;
}

.stores_icon {
	position: relative;
	padding-right: 38px;
	margin: 0;
}

.stores_icon:after {
	content: "";
	width: 3px;
	height: 3px;
	background: #A9A8A9;
	position: absolute;
	right: 15px;
	top: 15px;
}

.country_icon {
	position: relative;
	padding-left: 38px;
	margin: 0;
	width: 262px;
}

.country_icon:after {
	content: "";
	width: 3px;
	height: 3px;
	background: #A9A8A9;
	position: absolute;
	left: 15px;
	top: 15px;
}

#store_info {
	padding-top: 150px;
	padding-bottom: 130px;
}

#store_info_top {
	margin-bottom: 20px;
}

.store_slide_container {
	width: 100%;
	position: relative;
}

.store_slide {
	width: 100%;
}

.store_slide img{
	width: 100%;
	display: block;
}

.store_slide_container #pager {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 700;
}

.store_map {
    width: 100%;
    height: 236px;
    overflow: hidden;
    margin-bottom: 15px;
}

.underline_h2 {
	border-bottom: 2px solid #000;
	font-weight: 700;
	font-size: 12px;
	color: #DCDEDF;
	letter-spacing: 0.56px;
	line-height: 17px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.underline_h3 {
	border-bottom: 2px solid #000;
	font-family: 'cordia_newregular';
	font-size: 18px;
	color: #DCDEDF;
	letter-spacing: 0.05px;
	line-height: 21px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

#to_contact_btn {
	width: 100%;
}

/********* faqs *******/

#faqs_text {
	width: 90%;
	margin: 0 auto 15px;
}

#faqs_container {
	padding-top: 150px;
	padding-bottom: 130px;
}

.underline_link {
	/* To help answer any q: */
	font-family: 'cordia_newbold';
	text-decoration: underline;
	font-size: 15px;
	color: #C8B98F;
	letter-spacing: 0.02px;
	line-height: 20px;
}

#faqs_section {
	margin-top: 10px;
}

#faqs_section h3{
	font-weight: 700;
	font-size: 12px;
	color: #DCDEDF;
	letter-spacing: 0.2px;
	line-height: 17px;
	padding-left: 25px;
	margin-bottom: 10px;
}

.answer_box {
	padding: 30px 20px;
	background: #111111;
	border: 1px solid #000;
	border-radius: 5px;
	min-height: 530px;
}

.answer_box p{
	font-family: 'cordia_newregular';
	font-size: 20px;
	color: #A9A8A9;
	letter-spacing: 0.34px;
	line-height: 20px;
}

#question_cat_list {
	background: #111111;
	border: 1px solid #000;
	border-top: 0;
	border-radius: 5px;
	font-family: 'cordia_newregular';
}

.question_cat {
	border-top: 1px solid #000;
	font-size: 20px;
	color: #A9A8A9;
	letter-spacing: 0.02px;
	padding: 10px 30px 13px;
	cursor: pointer;
}

.question_cat:hover {
	color: #C8B98F;
	background: #262626;
}

.faq_cat_active {
	color: #C8B98F;
	background: #262626;
}

.question_list {
	background: #000;
	display: none;
}

.question_list li{
	font-size: 20px;
	color: #A9A8A9;
	letter-spacing: 0.02px;
	padding: 10px 0 15px 64px;
	cursor: pointer;
	line-height: 1;
	position: relative;
}

.question_list li:before{
	content: "";
	width: 3px;
	height: 3px;
	background: #A9A8A9;
	position: absolute;
	left: 35px;
	top: 50%;
	margin-top: -1px;
}

.question_list li:hover{
	color: #C8B98F;
	background: #262626;
}

.question_list li:hover:before{
	content: "";
	width: 3px;
	height: 3px;
	background: #C8B98F;
	position: absolute;
	left: 35px;
	top: 50%;
	margin-top: -1px;
}

.question_list li.question_active {
	color: #C8B98F;
	background: #262626;
}

.question_list li.question_active:before {
	content: "";
	width: 3px;
	height: 3px;
	background: #C8B98F;
	position: absolute;
	left: 35px;
	top: 50%;
	margin-top: -1px;
}

.have_caret {
	margin-right: 20px;
}


/********* sitemap ********/

#black_bg {
	background: #000;
}

#sitemap_container {
	padding: 230px 15px 130px;
}

#sitemap_container h2{
	font-size: 12px;
	color: #DCDEDF;
	letter-spacing: 0.2px;
}

.sitemap_nav > li > a {
	
	font-family: 'cordia_newregular';
	font-size: 20px;
	color: #A9A8A9;
}

#sitemap_nav_top {
	border-bottom: 1px solid #262626;
	padding-bottom: 40px;
}

.sitemap_subnav > li {
	padding-left: 15px;
}

.sitemap_subnav > li > a{
	font-family: 'cordia_newregular';
	font-size: 20px;
	color: #8A8A8D;
}

#sitemap_nav_bottom {
	padding-top: 40px;
}

#sitemap_nav_bottom a{
	font-size: 12px;
	color: #DCDEDF;
	letter-spacing: 0.2px;
}

#sitemap_nav_bottom a:hover{
	color: #910000;
}

#sitemap_nav_bottom > div{
	margin-bottom: 20px;
}

@media only screen and (max-width : 1199px) {
	.main_nav a {
	    margin: 0 25px;
	}

	.store_map {
	    width: 100%;
	    height: 193px;
	    overflow: hidden;
	    margin-bottom: 15px;
	}
}

@media only screen and (max-width : 1024px) {

	.main_slide_container {
	    position: relative;
	    z-index: 880;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	}

	#transparent_content {
	    width: 100%;
	    height: 100%;
	    display: none;
	}

	#scroll_down_btn {
	    position: absolute;
	    z-index: 760;
	}

	.cat_options li a, .cat_options2 li a {
	    font-size: 18px;
	}

	#cat_btn div {
	    background: url(../images/icon1.svg);
	    width: 20px;
	    height: 18px;
	    background-size: 100% 200%;
	    background-position: 0 0;
	    margin-left: 10px;
	}

	#col_grid_btn div {
	    background: url(../images/icon2.svg);
	    width: 20px;
	    height: 18px;
	    background-size: 100% 200%;
	    background-position: 0 0;
	}

	#col_full_btn div {
	    background: url(../images/icon3.svg);
	    width: 20px;
	    height: 20px;
	    background-size: 100% 200%;
	    background-position: 0 0;
	}

	#search_btn div {
	    background: url(../images/icon4.svg);
	    width: 20px;
	    height: 20px;
	    background-size: 100% 200%;
	    background-position: 0 0;
	}

	#random_btn div {
	    background: url(../images/icon5.svg);
	    width: 20px;
	    height: 16px;
	    background-size: 100% 200%;
	    background-position: 0 0;
	    margin-right: 10px;
	}

	.icon span {
	    display: inline-block;
	    font-size: 16px;
	}
	
	.music_container {
		display: none;
	}

	.close__everyday_btn {
		position: absolute;
		top: 50px;
		right: 30px;
		display: block;
	}
}

@media only screen and (max-width : 991px) {

	footer {		
		position: static;
	}

	footer#fixed_tablet {
		position: fixed;
		bottom: 0;
	}

	.icon {
	    letter-spacing: 0.7px;
	}

	.store_list > div {
	    border: 1px solid #000;
	    border-top: 4px solid #000;
	    width: 33%;
	    float: left;
	    margin-right: 0.5%;
	    margin-bottom: 14px;
	}

	.store_list > div:nth-child(4n) {
	    margin-right: 0.5%;
	}

	.store_list > div:nth-child(3n) {
	    margin-right: 0;
	}

	#large_map {
	    padding-top: 90px;
	}

	#store_info {
	    padding-top: 90px;
	    padding-bottom: 130px;
	}

	#store_img_large {
		margin-bottom: 15px;
	}

	.store_map {
	    width: 48.5%;
	    height: 175px;
	    overflow: hidden;
	    margin-bottom: 15px;
	    float: left;
	}

	#graphic_map {
		width: 48.5%;
		float: right;
	}

	#more_btn {
	    display: none;
	}

	.footer_bottom {
		display: none;
	}

	.stores_icon {
		width: auto !important;
		padding-right: 30px;
	}

	.country_icon {
		width: auto !important;
		padding-left: 30px;
	}

	

	.close_btn {
	    position: fixed;
	    top: 40px;
	    right: 0;
	}

	#sitemap_container h2 {
	    font-size: 12px;
	    color: #DCDEDF;
	    letter-spacing: 0.2px;
	    margin-bottom: 30px;
	}

	#main_content {
	    padding: 110px 15px 50px;
	}

	.contact_map {
	    width: 290px;
	    height: 290px;
	    overflow: hidden;
	    margin-bottom: 15px;
	    margin-top: 60px;
	    float: left;
	}

	.contact_info {
		margin-left: 310px;
		margin-top: 60px;
	}

	.contact_about_list {
		display: none;
	}

	#contact_faqs {
		display: none;
	}

	.contact_about_select {
		display: block;
	}

	.input_box {
	    height: 40px;
	}

	.message_box {
		height: 320px;
	}

	.select_box {
	    width: 100%;
	    height: 40px;
    }

    #faqs_section > div:nth-child(2){
	    margin-top: 30px;
	}

	.product-grid-sizer {
		width: 32%;
	}

	.product-gutter-sizer {
		width: 2%;
	}

	.item{
		width: 32%;
	}

	.product_item {
		position: relative;
		margin-bottom: 15px;
		display: block
	}

	.product_list.grid .item{
		width: 24%;
	}

	.product_list.grid .product-grid-sizer {
		width: 24%;
	}

	.product_list.grid .product-gutter-sizer {
		width: 1.3%;
	}

	.cat_options, .cat_options2 {
		position: fixed;
		border-bottom: solid 1px #262626;
		background: #111111;
		width: 100%;
		bottom: 33px;
		right: 0;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright:0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		overflow: hidden;
		display: none;
		text-align: center;
	}

	.cat_options li a, .cat_options2 li a {
	    display: block;
	    font-size: 14px;
	    letter-spacing: 2px;
	    text-align: center;
	    position: relative;
	    color: #A9A8A9;
	    padding: 5px 0 7px 0;
	    right: auto;
	    margin-left: 0;
	    font-family: 'cordia_newbold';
	}

	#cat_btn {
	    width: auto;
	    text-align: right;
	}

	#cat_btn span {
		display: none;
	}

	#random_btn span {
		display: none;
	}

	#random_btn {
	    width: auto;
	    text-align: left;
	}

	.cat_options li a:after, .cat_options2 li a:after{
		content: "";
		width: 3px;
		height: 3px;
		background: #A9A8A9;
		position: absolute;
		right: 15px;
		top: 15px;
		display: none;
	}

	.cat_options li a:hover:after, .cat_options2 li a:hover:after{
		background: #C8B98F;
	}

	#random li a {
		text-align: center;
		padding: 5px 0 7px 0;
	}

	#random li a:after{
		content: "";
		width: 3px;
		height: 3px;
		background: #A9A8A9;
		position: absolute;
		left: 15px;
		top: 15px;
		display: none;
	}

	#random {
	    right: auto;
	    left: 0;
	}

	.stores_icon {
	    width: 140px !important;
	}

	.country_icon {
		width: 140px !important;
	}

	.top_bar {
		display: none;
	}

	header {
		display: none !important;
	}

	.overlayFromMenu {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 920;
		left: 0;
		top:0;		
		background-size: cover;
		background-position: center;
		display: none;
	}

	.social {
	    display: inline-block;
	    float: none;
	}

	.social {
	    display: inline-block;
	    float: none;
	}

	#copyright {
	    float: none;
	    display: inline-block;
		font-family: 'cordia_newregular';
		font-size: 16px;
		color: #55565A;
		letter-spacing: 1.6px;
	}
	
	.social_container {
	    position: fixed;
	    padding: 10px 18px 0 15px;
	    border-right: 1px solid #800d09;
	    height: 100%;
	    width: 100%;
	    z-index: 860;
	    background: #111;
	    top: 0;
	    left: -100%;
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    transition: all .3s ease;
	}

	.social_btn {
		display: none;
	}

	.social_list {
	    width: 100%;
	    padding: 15px 0;
	}

	.close_social_btn {
		position: absolute;
		top: 15px;
		right: 15px;
		display: block;
		cursor: pointer;
	}

	#sitemap_container {
	    padding: 140px 15px 130px;
	}
	
	#store_list_container {
	    padding-bottom: 130px;
	}

	.mobile_header_bottom {
		display: block;
	}

	.mobile_header_top {
		display: block;
	}
	
	.product_slide_left {
		position: relative;
	}
	
	.product_slide_container {
		border-right-color: rgb(38, 38, 38);
		border-right-style: solid;
		border-right-width: 2px;
	}
	
	.close_product_btn {
		position: fixed;
	}
}

@media only screen and (max-width : 767px) {
	.store_list > div {
	    border: 1px solid #000;
	    border-top: 4px solid #000;
	    width: 100%;
	    float: none;
	    margin-right: 0;
	    margin-bottom: 14px;
	}

	.store_list > div:nth-child(4n) {
	    margin-right: 0;
	}

	.store_list > div:nth-child(3n) {
	    margin-right: 0;
	}

	#large_map {
	    /*padding-top: 90px;*/
	    height: 320px;
	    overflow: hidden;
	    box-sizing: content-box;
	    width: 90%;
	    margin: auto;
		margin-top: 30px;
	}

	.store_map {
	    width: 100%;
	    height: 175px;
	    overflow: hidden;
	    margin-bottom: 15px;
	    float: none;
	}

	#graphic_map {
		width: 100%;
		float: none;
	}

	#sitemap_container h2 {
	    font-size: 12px;
	    color: #DCDEDF;
	    letter-spacing: 0.2px;
	    margin-bottom: 20px;
	}

	.contact_map {
	    width: 100%;
	    height: 290px;
	    overflow: hidden;
	    margin-bottom: 15px;
	    margin-top: 40px;
	    float: none;
	}

	.contact_info {
		margin-left: 0;
		margin-top: 0;
	}

	.newsletter_left {
	    margin-bottom: 7px;
	    width: 100%;
	    float: none;
	}

	.newsletter_right {
	    margin-bottom: 7px;
	    width: 100%;
	    float: none;
	}

	#faqs_section h3 {
	    font-weight: 700;
	    font-size: 12px;
	    color: #DCDEDF;
	    letter-spacing: 0.2px;
	    line-height: 17px;
	    padding-left: 0;
	    margin-bottom: 10px;
	}

	.agree {
	    text-align: center;
	    width: 100%;
	    margin: auto;
	    margin-top: 20px;
	}

	.newsletter_container {
		padding: 20px 0 50px;
		height: 100%;
	}

	.product-grid-sizer {
		width: 49%;
	}

	.product-gutter-sizer {
		width: 2%;
	}

	.item{
		width: 49%;
	}

	.product_list.grid .item{
		width: 32%;
	}

	.product_list.grid .product-grid-sizer {
		width: 32%;
	}

	.product_list.grid .product-gutter-sizer {
		width: 2%;
	}

	.product_item {
	    position: relative;
	    margin-bottom: 5px;
	    display: block;
	}

	#search_top {
	    background: #111;
	    height: auto;
	    padding: 10px 0 0;
	}

	#tag_list span {
	    margin-bottom: 5px;
	}

	.mobile_lang_container {
		position: absolute;
		width: 100%;
		top: 58px;
		background: #262626;
		padding: 20px 15px 30px;
		display: none;
		text-align: center;
	}

	.mobile_lang_container:before {
		content: "";
		position: absolute;
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;	
		border-bottom: 5px solid #262626;
		top: -5px;
		right: 19px;
	}


	.mobile_lang_container h3{
		font-size: 9px;
		color: #DCDEDF;
		letter-spacing: 0.89px;	
		position: relative;
		padding-left: 30px;
		margin-bottom: 0;
		display: inline-block;
	}

	.mobile_lang_head {
		border-bottom: 1px solid #000;
		padding-bottom: 8px;
		padding-left: 0;
	}

	.mobile_lang_container h3:before{
	    content: "";
	    width: 3px;
	    height: 3px;
	    background: #C8B98F;
	    position: absolute;
	    left: 10px;
	    top: 3px;
	}

	.mobile_lang_container a{
		display: inline-block;
		padding-left: 0;
		margin-top: 6px;
		font-family: 'cordia_newregular';
		font-size: 14px;
		color: #A9A8A9;
		letter-spacing: 2.33px;
		width: 98px;
		text-align: left;
	}

	.mobile_lang_container a img{
		margin-right: 10px;
	}

	.mobile_lang_container a span{
		color: #C8B98F;
		font-family: 'cordia_newbold';
		margin-right: 10px;
	}

	#mobile_country {
		margin-bottom: 40px;
	}

	.site_menu li{
		padding-top: 15px;
	}

	.mobile_normal_nav li {
	    text-align: center;
	    margin-top: 15px;
	}

	.social_item {
	    width: 100%;
	}
	
	#product_detail_container {
	    width: 100%;
	}

	.newsletter_container .close_btn {
	    position: absolute;
	    top: 0;
	    right: 0;
	}

	#search_box_container {
	    width: 75%;
	    max-width: 940px;
	    border-radius: 5px;
	    border: 1px solid #55565A;
	    border-top: 0;
	    border-bottom: 0;
	    margin: auto;
	    position: relative;
	}

	.close_product_btn {
	    position: fixed;
	    /*top: -20px;*/
	    right: 40px;
	    z-index: 500;
	}

	#cover{
		background: #000;
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 999;
		top: 0;
		display: none;
	}

	.overlayFromMenu img {		
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    width: 90%;
	}

	.relate_list li{
		width: 49%;
		float: left;
		margin-right: 1%;
		margin-bottom: 2px;
	}

	.relate_list li:nth-child(3n){
		margin-right: 1%;
	}

	.relate_list li:nth-child(2n){
		margin-right: 0;
	}

	.share_container a {
	    font-size: 17px;
	    margin-left: 20px;
	    vertical-align: middle;
	}

	.product_tags_list a {
	    margin-bottom: 5px;
	}
}

.head_menu {
	color: #8A8A8D !important;
	cursor: default
}

@media only screen and (min-width : 991px) {
	.country_options {
		font-size: 14px;
		left: 0 !important;
		right: auto;
	}
	
	.country_icon:after {
		background: unset;
		position: unset;
	}

	#bottom_menu_country_display:before {	
		content: "";
		width: 3px;
		height: 3px;
		background: #A9A8A9;
		position: absolute;
		top: 15px;
		margin-left: -15px;
	}
}
}